Source: php5.6
Section: web
Priority: optional
Maintainer: Your Name <your@email.com>
Build-Depends: debhelper (>=9), autotools-dev
Standards-Version: 3.9.6
Homepage: http://www.php.net/

Package: php5.6
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Custom PHP 5.6 compiled binary package
 Custom build of PHP 5.6 for personal use.
